{% extends 'base.html' %}

{% block title %} Add New Post {% endblock %}

{% block CONTENT %}
	<!-- User New Post Form -- for testing-->
	<h1>Add Post for {{user.first_name}} {{user.last_name}}</h1>
		<form action="/users/{{user.id}}/posts/new" method="POST">
			
			<div class="input-group mb-3">
				<label for="title" class="input-group-text" id="inputGroup-sizing-default">Title</label>
				<input type="text" name="title" id="title">
			</div>
			
			<div class="input-group mb-3">
				<label for="content" class="input-group-text" id="inputGroup-sizing-default">Content</label>
				<input type="text" name="content" id="content">
			</div>
	
			<!-- buttons -->
			<button type="submit">Add</button>
			<!-- Add Route -->
			<a href="/users/{{ user.id }}" class="btn btn-success">Cancel</a>
		</form>

{% endblock %}