{% extends 'base.html' %}

{% block title %} Post Details {% endblock %}

{% block CONTENT %}
		
		<h1>{{ post.title }}</h1>
		<p>{{ post.content }}</p>
		<em>By {{ user.first_name }} {{ user.last_name }}</em> <!-- need to italicize-->
		
		
		<!-- buttons -->
		<div>
			<a href="/posts/{{post.user_id}}" class="btn btn-secondary"> Cancel</a>
			<a href="/posts/{{post.id}}/edit" class="btn btn-success">Edit</a>
			<a href="/posts/{{post.id}}/delete" class="btn btn-danger">Delete</a>	
		</div>
		
		

{% endblock %}